@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


body {
	background-color: #e2e2e2;
}

.container {
	width: 40em;
	margin-left: 40em;
	border: 1px solid black;
	padding: 2em;
	border-radius: 1em;
	box-shadow: 5px 10px silver;
}

h1 {
	margin-left: 3em;
	margin-right: 3em;
	padding: 1em;
	margin-left: 16em;
	margin-right: 12em;
	color: white;
	text-align: center;
	font-size: 2.5em;
	font-family: 'Lobster', cursive;
	background-color: #66b788;
	border-radius: 0.5em;
}

img {
	border-radius: 5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  text-align: center;
  border-radius: 0.5em;
  
}

li {
  float: left;
  
  }

li a {
  display: block;
  
  color: white;
  padding: 1em;
  text-decoration: none;
}

h2 {
	color: green;
}

.soustitre {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 1.5em;

}

dt {
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	padding: 0.5em;
}

dd {
	font-family: 'Josefin Sans', sans-serif;
}

#info_gen {
	border-bottom: 0.1em solid black;
}

#formation {
	border-bottom: 0.1em solid black;
}

#activitepro {
	border-bottom: 0.1em solid black;
}